/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(38, 145, 130);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

/* Grid Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  grid-gap: 10px;
  padding: 10px;
}

.header {
  grid-area: header;
  padding: 20px;
  text-align: center;
}

.nav {
  grid-area: nav;
  background-color: black;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav li {
  margin: 10px 0;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  background-color: rgb(18, 107, 119);
}

.main {
  grid-area: main;
  padding: 20px;
}
figure {
  margin: 5px;
  text-align: center; 
}

figcaption {
  font-style: italic;
}

/* Change navigation bar to horizontal on screens wider than 768px */
@media (min-width: 768px) {
  .nav ul {
    flex-direction: row;
    justify-content: center;
  }

  .nav li {
    margin: 0 20px;
  }

  /* Adjust grid layout to two-column format */
  .grid-container {
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  }
}

/* Flexbox Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery img {
  max-width: 100%;
  height: auto;
  margin: 5px;
  border: 3px solid rgb(20, 11, 11);
}

/* Adjust gallery layout based on screen width */
@media (min-width: 768px) {
  .gallery img {
    width: calc(50% - 10px);
  }
}

@media (min-width: 1024px) {
  .gallery img {
    width: calc(33.33% - 10px);
  }
}

.footer {
  grid-area: footer;
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  position: sticky;
  bottom: 0;
}
