/* Reset default styles */
* {
    margin: 0;
    padding: 0;
  }
  
/* General styling for the entire webpage */
body {
    margin: 0;
    padding: 0;
    background: url('../images/coco.jpg') no-repeat center center fixed; 
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
}

  /* Grid Layout */
  .grid-container {
    display: grid;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
    grid-gap: 10px;
  }
  
  .header {
    grid-area: header;
    padding: 20px;
    text-align: center;
  }
  
  .nav {
    grid-area: nav;
    text-align: center;
    background-color: black;
    
  }
  
  .nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .nav li {
    margin: 10px;
  }
  
  .nav a {
    color: white;
    text-decoration: none;
  }
  
  .nav a:hover {
    background-color: rgb(8, 66, 73);
  }
  
  .section {
    grid-area: main;
    padding: 10px;
    background-color:white;
    text-align: center;
  }
  
  /* Flexbox Gallery */
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .gallery img {
    max-width: 100%;
    height: auto;
    margin: 5px;
    border: 3px solid rgb(20, 11, 11);
  }
  
  figcaption {
    font-style: italic;
  }
  
  /* Adjust gallery layout based on screen width */
  @media (min-width: 768px) {
    .gallery figure{
      width: calc(50% - 10px);
    }
    .grid-container {
      grid-template-areas:
        "header header"
        "nav nav"
        "main main"
        "footer footer";
    }
  
    .nav ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  
    .nav li {
      margin: 20px;
    }
  }
  
  @media (min-width: 1024px) {
    .gallery figure {
      width: calc(33.33% - 10px); /* Display images in three columns */
    }
  }
  
  .footer {
    grid-area: footer;
    background-color: black;
    color: white;
    padding: 5px;
    margin: 10px;
    text-align: center;
  }