nav{
  background-color: #545d77;
  font-family: Arial, sans-serif;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block
  }
  
  li {
    position: relative; 
  }
  
  li a {
    display: block;
    color: rgb(230, 215, 215);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 5px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #0d1581;
  }

  nav ul li .dropdown-content {
    display: none
    position: absolute;
    flex-direction: column;
    width: 100%
  }

  nav ul li: hover .dropdown-content {
    display: flex;
  }