body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:bisque
    
    
}
header {
    background-color: #cf6f37;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color:rgb(168, 60, 60)
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav ul li{
    margin: 0 1em
}

nav ul li a {
    color: rgb(233, 227, 227);
    text-decoration: none;
}

.main-content {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.column{
    flex: 1;
    margin: 0 1em;
    border-radius: 10px;
    box-shadow: 0 2px 5px;  
}

.floated-image{
    padding: 0;
}

.floated-image img{
    float: left;
    margin: 0 1em 1em 0;
    max-width: 500px
}

footer {
    background-color:rgb(167, 70, 70);
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}   
