/* Body styling */
body {
    font-family: 'Jacquard 12', sans-serif;
    background-color: #11750881;
    align-content: center;
}

/* Header styling */
header {
    background-color: rgb(20, 85, 17);
    text-align: center;
    padding: 10px;
}

/* Section h1 styling */
section h1 {
    color: #58af07;
    text-align: center;
}

/* Image styling */
img {
    box-shadow: 5px 5px 15px rgb(231, 235, 22);
    display: block;
    margin: 0 auto;
}

/* Footer styling */
footer {
    background-color: rgb(14, 92, 31);
    text-align: center;
    padding: 10px;
}
